@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

nav {
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

nav .collapse.navbar-collapse {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

nav .navitms a {
  color: black !important;
  font-weight: 500;
  font-size: 14px;
}

nav .search > div {
  border: 1px solid #dddd;
  padding: 2px 5px;
}

nav .search input {
  margin-right: 0 !important;
  border: #cecece;
  border-right: 0 !important;
  border-radius: 0;
  padding: 5px 5px 5px 20px;
  background: #f6f5f6;
  outline: transparent !important;
  font-size: 14px;
}

nav .search button {
  padding: 0;
  background: #f6f5f6;
}

nav .search svg {
  margin: 0 10px;
  font-size: 26px;
}

.slider {
  padding: 15px 0;
}

.slider .content {
  -webkit-transition: .5s ease;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  z-index: 9999999;
}

.slider .swiper-slide:hover img {
  opacity: 0.5;
}

.slider .swiper-slide:hover .content {
  opacity: 1;
}

.slider .swiper-slide:hover .content a {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  color: black;
  border: 1px solid black;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color: transparent;
  padding: 10px;
  outline: none;
  border-radius: 3px;
}

.slider .text {
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

.slider .swiper-button-prev, .slider .swiper-button-next {
  color: black;
}

.brandHeader {
  position: relative;
  text-align: center;
}

.brandTitle {
  position: relative;
  width: 100%;
  height: auto;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  text-align: start;
}

.brandBackTitle {
  font-size: 110px;
  text-align: center;
  color: #c7c5d1;
  letter-spacing: 0px;
  font-family: 'Bubblegum Sans', cursive;
}

.brandHeaderSmall {
  position: relative;
  top: -78px;
}

.brandInsideTitle {
  font-weight: bold;
  font-size: 28px;
  line-height: normal;
  letter-spacing: 5px;
}

.brandInsideTitle a {
  color: black;
  text-decoration: none;
}

.productsArea .customcard {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
          box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin: 20px 0;
  margin-bottom: 40px;
}

.productsArea .customcard .col-md-6 {
  padding: 5px;
}

.productsArea .customcard .col-md-6:nth-child(1) {
  background: #8b95b9;
}

.productsArea .customcard .col-md-6:nth-child(2) {
  padding: 10px;
  padding-bottom: 30px;
}

.productsArea .customcard p {
  color: #8b95b9;
  font-weight: 550;
  margin-bottom: 0;
}

.productsArea .customcard .buttonCart {
  text-align: center;
}

.productsArea .customcard button {
  padding: 7px 7px;
  border: 1px solid #8b95b9;
  border-radius: 2px;
  margin-top: 25px;
  font-size: 13px;
}

.productsArea .customcard button:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.productsArea .customcard .imageArea {
  position: relative;
}

.productsArea .customcard .imageArea img {
  position: absolute;
  top: -45px;
}

.productsArea .customcard h6 {
  font-size: 13px;
  font-weight: 550;
}

.brandsOnSale .row .col-md-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 1000px) {
  .productsArea .customcard .imageArea img {
    position: unset;
  }
  .imageArea {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */

/* Sajin */

/* footer */


.footerTopRow div {
  text-align: center;
}

footer {
  background-color: rgb(36, 35, 35);
  color: white;
  align-items: flex-start;
}
h6 {
  text-align: start;
  font-weight: bold;
}
.footerText {
  font-size: 13px;
  text-align: start;
  line-height: 28px;
}

.footerIcon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.footerIcon div {
  display: flex;
  flex-direction: column;
}
.footerIcon div img {
  padding: 6px;
}

@media only screen and (max-width: 760px) {
  .footerIcon div {
    display: flex;
    flex-direction: row;
  }
}


/* FORM */


.formInput {
  text-align: center;
}

.formInput input {
  max-width: 600px;
  width: 100%;
  margin-bottom: 10px;
}


#email {
  text-align: center;
  border-top: unset;
  border-left: unset;
  border-right: unset;
  box-shadow: unset;
  box-sizing: border-box;
  direction: ltr;
  border-color: rgb(221, 65, 96);
  color: rgb(221, 65, 96);
}
#email:focus {
  outline: unset;
}
#email:hover {
  border-color: rgb(36, 35, 35);
  border-width: 1px;
}

.buttonJoin {
  text-align: center;
}



.btnJoin {
  border-color: rgb(221, 65, 96);
  color: rgb(221, 65, 96);
  border-radius: unset;
  padding: 8px 45px;
}

.btnJoin:hover {
  background-color: rgb(233, 183, 183);
  color: black;
}

.formText {
  margin-top: 30px;
  margin-bottom: 50px;
  line-height: 25px;
}

@media only screen and (max-width: 760px) {
  .formInput {
    left: 0px;
  }
}



/* Best deals */

.bestBox,
img {
  height: auto;
}
.bestBox,
h5 {
  padding-top: 10px;
  font-weight: bold;
  text-align: center;
}

.bestBox,
p {
  font-size: 11px;
  text-align: center;
  font-weight: normal;
}

.percentPArent {
  position: relative; 
}

.percent {
  position: absolute;
  top: -23px;
  left: 100px;
}
.percentPArent img {
  padding-bottom: 30px;
}

@media only screen and (max-width: 600px) {
  .percent {
    display: none;
  }
 }