@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bubblegum+Sans&display=swap");
* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.topBlackBar {
  background-color: black;
  color: white;
  text-align: center;
  font-weight: 200;
  font-size: 13px;
  padding: 10px 0px;
  margin-bottom: 0px;
  
}

a {
  text-decoration: none;
  color: black;
}

nav {
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

nav .collapse.navbar-collapse {
  -ms-flex-pack: distribute;
  justify-content: right;
}

.nav-item {
  padding-right: 20px; 
}

.active:hover {
  color: rgba(149,204,144,255) !important;
  transition: all ease 0.5s;
}

.nav-link:hover {
  color: rgba(149,204,144,255)!important;
  transition: all ease 0.5s;
}

.dropdown-item:hover {
  color: rgba(149,204,144,255) !important;
  background-color: white;
  transition: all ease 0.5s;
}

.site_logo {

  height: auto;
}

@media only screen and (max-width: 600px) {
 
.site_logo {
width: 45px;
  height: auto;
}
}
  


.dropdown-menu {
  text-align: center;
  border-color: white;
}

.navbar-brand {
  padding-left: 30px;
}

nav .navitms a {
  color: black !important;
  font-weight: 700;
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}

.dropdown-toggle::after {
  border-top: 0em !important;
  border-right: 0em !important;
}

.navbar-nav.navitms.mb-2.mb-lg-0 {
  margin-left: 140px;
}

.search {
  align-items: center;
}

nav .search > div {
  border: #fdf0f0dd;
  padding: 2px 5px;
}

.navbar-collapse {
  padding-left: 130px;
}

@media only screen and (max-width: 1000px) {
  .navbar-collapse {
    padding-left: 0;
  }

  
     }

@media only screen and (min-width: 1680px) {
  
.navbar-collapse {
  padding-left: 400px;
}
.navbar-brand {
  padding-left: 200px;
}

   }

.search_area  {
  background: rgb(241, 241, 241);
  position: relative;
}
.searchIP {
  margin-bottom: -12px;
}

.dropdown {
  background-color: #f5f3f5;
}

.dropdown-menu > h6 {
text-align: right;
background-color: rgba(55, 125, 255, 0.15);
font-size: 10px;
font-weight: lighter;
padding: 5px 0;
}
.searchInputDropDown {
width: 250px;
line-height: 25px !important; 
background-color: #f5f3f5 !important;
}

.dd_it_sh{
  font-size: 12px !important;
  text-align: start;
  padding-left: 20px !important;
 
  
}

 

nav .search input {
  margin-right: 0 !important;
  border: #ffffff;
  border-right: 0 !important;
  border-radius: 4px;
  padding: 5px 5px 5px 20px;
  background: #f5f3f5;
  outline: transparent !important;
  font-size: 12px;
  height: 40px;
  width: 200px;
}



.search_area:hover {
  
  background-color: #c5c4c3;
  border-radius: 4px;
}

nav .search input , .search-btn , .search-btn i {
  background: transparent !important;
}

.search-btn {
  padding: 7px 12px !important;
}

.search-btn:hover {
  background-color: rgb(70, 68, 68) !important;
}

form svg {
  margin-left: 40px !important;
}





nav .search > div {
    border: #fdf0f0dd;
    padding: 0px;
}





nav .search button {
  font-weight: lighter;
  padding: 0;
  background: #f6f5f6;
}

nav .search svg {
  margin: 0 10px;
  font-size: 26px;
}

nav .swiper-button-next {
  display: none !important;
}

.slider {
  padding: 15px 0;
}

.carousel-control-next-icon {
  height: 4rem;
  width: 3rem;
}


.carousel-control-prev-icon {
  height: 4rem;
  width: 3rem;

}
.slider .content {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  color: black;
  z-index: 9999999;
}

.slider .swiper-slide:hover img {
  opacity: 0.5;
}

.slider .swiper-slide:hover .content {
  opacity: 1;
}

.slider .swiper-slide:hover .content a {
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  color: black;
  border: 1px solid black;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
  font-size: 17px;
  background-color: transparent;
  padding: 10px;
  outline: none;
}

.slider .text {
  color: black;
  font-size: 16px;
  padding: 16px 32px;
}

.slider .swiper-button-prev,
.slider .swiper-button-next {
  color: black;
}

.slider .swiper-button-prev, .slider .swiper-button-next {
  color: #695858;

}

.brandSection {
  padding-top: 40px !important ;
}
.brandHeader {
  position: relative;
  text-align: center;
}

.brandTitle {
  position: relative;
  width: 100%;
  height: auto;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  text-align: start;
}

.brandBackTitle {
  font-size: 110px;
  text-align: center;
  color: #c7c5d1;
  letter-spacing: 0px;
  font-family: "Bubblegum Sans", cursive;
}

.brandHeaderSmall {
  position: relative;
  top: -78px;
}

.brandInsideTitle {
  font-weight: bold;
  font-size: 28px;
  line-height: normal;
  letter-spacing: 5px;
  margin-bottom: 0px !important;
}

.brandInsideTitle a {
  color: black;
  text-decoration: none;
}

.productsArea {
  margin-bottom: 80px !important;
}

.customcard {
  width: 280px;
  margin-left: 70px !important;
  box-shadow: none;
}

.firstCartBtn {
  padding: 3px 22px !important;
  border-color: rgba(93, 151, 238, 0.644) !important;
  color:rgba(93, 151, 238, 0.644) !important ;
}
.secondCartBtn {
  padding: 3px 22px !important;
  border-color: rgb(255, 60, 0) !important;
  color:rgb(255, 60, 0)  !important ;
}
.thirdCartBtn {
  padding: 3px 22px !important;
  border-color: rgba(20, 114, 255, 0.877) !important;
  color:rgb(0, 102, 255) !important ;
}
.firstImgArea {
  background-color:#8b95b9 ;
}

@media only screen and (max-width: 760px) {
  .firstImgArea {
    background-color:#8b95b9  !important;
  }

}
@media only screen and (max-width: 500px) {
  
  .cartSectionRow {
    margin-left: -40px;
  }
}

.secondImgArea {
  background-color: #bf8767 !important;
}
.thirdImgArea {
  background-color: #a2cde8 !important;
}
.buttonCart {
  text-align: start !important;
}

.productsArea .customcard button {
  margin-top: 2px !important;
}

.firstCartRate {
  text-align: start !important;
 padding-top: 22px;
 color: rgb(0, 0, 168) !important;
 font-weight: bold;
}

.secondCartRate {
  text-align: start !important;
 padding-top: 22px;
 color:rgb(187, 44, 0) !important ;
 font-weight: bold;

}

.thirdCartRate {
  text-align: start !important;
 padding-top: 22px;
color: rgb(0, 154, 206) !important;
font-weight: bold;
}


.cartSectionRow {
  -webkit-box-shadow: 5px -1px 14px 1px rgb(0 0 0 / 41%);
   box-shadow: 5px -1px 14px 1px rgb(0 0 0 / 41%);
}
.productsArea .customcard {
  margin: 20px 0;
  margin-bottom: 40px;
}

.productsArea .customcard .col-md-6 {
  padding: 5px;
}

.productsArea .customcard .col-md-6:nth-child(1) {
  background: #8b95b9;
}

.imageArea > div {
  margin: 9px;
}

.productsArea .customcard .col-md-6:nth-child(2) {
  padding: 10px;
  padding-bottom: 30px;
}

.productsArea .customcard p {
  color: #8b95b9;
  font-weight: 550;
  margin-bottom: 0;
}

.productsArea .customcard .buttonCart {
  text-align: center;
}

.productsArea .customcard button {
  padding: 7px 7px;
  border: 1px solid #8b95b9;
  border-radius: 2px;
  margin-top: 25px;
  font-size: 13px;
}

.productsArea .customcard button:hover {
  -webkit-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.productsArea .customcard .imageArea {
  position: relative;
}

.productsArea .customcard .imageArea img {
  position: absolute;
  top: -45px;
}

.productsArea .customcard h6 {
  font-size: 13px;
  font-weight: 550;
}
.followHeader {
  background-color:#dcd4d43b ;
}
.brandInsideTitle {
  border-bottom: 0px !important;
}




.brandsOnSale .row .col-md-6 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

@media only screen and (max-width: 1000px) {
  .productsArea .customcard .imageArea img {
    position: unset;
  }
  .imageArea {
    text-align: center;
  }
  .navbar-nav.navitms.mb-2.mb-lg-0 {
    margin-left: 10px;
  }
}





.buttonDeals {
  margin-top: 30px;
  text-align: center;
  
}

.btnDeals {
  border: 1px solid black;
  border-color: rgb(0, 0, 0);
 
  border-radius: unset;
  padding: 8px 25px;
  font-size: 14px;
}

.btnDeals:hover {
  background-color: rgba(149,204,144,255);
  color: black;
}
/*# sourceMappingURL=style.css.map */

/* Sajin */

/* footer */
.footerTop {
  display: none;
}

.footerTopRow div {
  text-align: center;
}
.footerTopRow  {
  margin-bottom: 30px;
}



footer {
  background-color: rgb(36, 35, 35);
  color: white;
  align-items: flex-start;
}
h6 {
  text-align: start;
  font-weight: bold;
}
.footerText {
  font-size: 13px;
  text-align: start;
  line-height: 28px;
}

.footerIcon {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}





@media only screen and (max-width: 2000px) {
.footerIcon {
  justify-content: flex-end;
}
.footer-logo {
  text-align: center;
}

.footerRow {
  padding-top: 3%;
  padding-bottom: 50px;
}
 
.footerCopyRight p {
  padding-top: 10px;
   font-size: 15px;
}

}

.footerUpArrow {
  width: 30px ;
  height: auto;
}

.footerIcon div {
  display: flex;
  flex-direction: column;
}
.footerIcon div img {
  padding: 6px;
}

@media only screen and (max-width: 760px) {
  .footerIcon div {
    display: flex;
    flex-direction: row;
  }
}
@media only screen and (max-width: 760px) {
  .footerIcon  {
    justify-content: flex-start;
  }
}

/* FORM */

.formInput {
  text-align: center;
}

.formInput input {
  max-width: 600px;
  width: 100%;
  margin-bottom: 10px;
}

#email {
  text-align: center;
  border-top: unset;
  border-left: unset;
  border-right: unset;
  box-shadow: unset;
  box-sizing: border-box;
  direction: ltr;
  border-color: rgba(149,204,144,255);
  color: rgb(221, 65, 96);
}
#email:focus {
  outline: unset;
}
#email:hover {
  border-color: rgb(36, 35, 35);
  border-width: 1px;
}

.JoinHeader {
  background-color:#dcd4d43b ;
}

.buttonJoin {
  text-align: center;
}
.joinForm {
  padding: 100px 100px 0px 100px;
  
}


.btnJoin {
  border-color: rgba(149,204,144,255);
  color: rgba(149,204,144,255);
  border-radius: unset;
  padding: 8px 70px;
}

.btnJoin:hover {
  background-color: rgba(149,204,144,255);
  color: black;
}

.formText {
  margin-top: 30px;
  margin-bottom: 50px;
  line-height: 25px;
}

@media only screen and (max-width: 760px) {
  .formInput {
    left: 0px;
  }
  .productsArea .customcard .col-md-6:nth-child(1) {
    background: none;
  }
}

/* Best deals */

.bestBox,
img {
  height: auto;
}
.bestBox,
h5 {
  padding-top: 10px;
  font-weight: bold;
  text-align: center;
}

.bestBox,
p {
  font-size: 11px;
  text-align: center;
  font-weight: normal;
}

.percentPArent {
  position: relative;
}
.brandOnSaleRow {
  padding-left: 124px;
  padding-right: 94px;
}

.percentPArent img {
  padding-bottom: 60px !important;
} 

.percent {
  width: 80px;
  height: auto;
  position: absolute;
  top: -40px;
    left: 78px;
}
.percentPArent img {
  padding-bottom: 30px;
}
.bestBox > div img {
  width: 100%;
}
.bestBox img {
  max-width: 400px;
  width: 100%;
}
@media only screen and (max-width: 600px) {
  .percent {
    display: none;
  }
  .brandBackTitle {
    font-size: 80px;
  }
}
@media only screen and (max-width: 600px) {
  .brandBackTitle {
    font-size: 90px !important;
  }
}
.followImg {
  max-width: 300px;
  width: 100%;
}
@media only screen and (max-width: 450px) {
  .followImg {
    max-width: initial;
    width: 100%;
  }
}
@media only screen and (max-width: 2000px) {
  .followImg {
    max-width: 438px;
    width: 100%;
  }
}

.backToTopBtn {
  text-align: end;
  margin-right: 200px;
  padding-bottom: 10px;
}
.backToTopBtn button {
  background: transparent;
  border: 1px solid white;
  padding: 8px 25px;
  
}
.backToTopBtn button a {
  color: white;
  text-decoration:none ;
  font-size: 14px !important;
}

.bottomSlider {
  overflow-x: hidden;
  background-color: #dcd4d43b;
}
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 9999;
  top: 0;
  right: 0;
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 0;
}

.sidenav a {  
  text-decoration: none;
  font-size: 22px !important;
  color: #fff5f5;
  word-spacing: 80px;
}



.sideNavHead  {
  height: 70px;
  background-color: black;
  padding: 28px 0px 67px 36px;
  color: white;
}

/* @media screen and (max-height: 450px) {
  
  .sidenav a {font-size: 30px;}
} */
.sideNavProduct {
  display: flex;
  margin-top: 50px;
  margin-left: 40px;
  justify-content: start;
  
}

.sideNavProduct img {
  width: 60px;
height: auto;
}
.sideNavProductText {
  padding-left: 30px;
}

.sideNavProductText p {
  font-size: 16px ;
  font-weight: normal;
  color: #999997;
}

.sideNavTotal {
  height: 100%;
  display: flex;
  align-items: center;
  padding-left: 40px;
}

.sideNavTotal p {
 font-size: 26px;
}